body {
    background-color: rgb(150, 69, 102);
    background-image: url('2.jpg');
  
}

fieldset {
    margin-left: 100px;
    border: none;
    
}

 table {
    text-align: center;
    border-spacing: 50;
    margin-left:400px;
   
    
}

td {
    background-color: rgb(255, 251, 251);
    font-weight: bold;
    font-size: 40px;
width:30%;

}

li {
    display: block;
}

button {
    color: rgb(16, 15, 15);
    background-color: rgb(212, 40, 83);
    font-size: 20px;
    text-align: center;
    width: 200px;
    margin-top: 10px;

    height: 40px;
}

ul{
    margin-left:200px;
   
    display: inline-block;

}