<head>

    <title>Insert</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='InsertGame.css')}}">


</head>

<body>
    <form method="post">

        <h1>Which attribute in the Genre do you want to Insert?</h1>

        <fieldset>


            <div class="input-field">
                <label>Communities</label> &nbsp&nbsp&nbsp&nbsp &nbsp
                <select name= communities>
                    {% for community in communities %}
                    <option value= "{{community}}" SELECTED>{{community.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <a><button>Follow Community</button></a>
            </div>


        </fieldset>
    </form>
</body>