<head>

    <title>Insert</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='InsertGame.css')}}">


</head>

<body>
    <form method="post">

        <h1>Which attribute in the Genre do you want to Insert?</h1>

        <fieldset>


            <div class="input-field">
                <label>Publishers</label> &nbsp&nbsp&nbsp&nbsp &nbsp
                <select name= publishers>
                    {% for publisher in publishers %}
                    <option value= "{{publisher}}" SELECTED>{{publisher.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <a><button>Follow Publisher</button></a>
            </div>


        </fieldset>
    </form>
</body>