<head>

    <title>InsertServer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='insertplayer.css')}}">


</head>

<body>
    <form method="post">

        <h1>Which attribute in the Server do you want to Insert?</h1>

        <fieldset>

            <div class="input-field">
                <label>Name</label> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <input type="text" name="name" placeholder="Insert" required>
            </div>

            <div class="input-field">
                <label>Region</label> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp
                <input type="text" name="region" placeholder="Insert" required>
            </div>

            <div class="input-field">
                <label>Capacity</label> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp
                <input type="text" name="capacity" placeholder="Insert" required>
            </div>

            <div>
                <a><button>Insert Tuple</button></a>
            </div>



    </form>
</body>