<head>

    <title>Insert</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='InsertServer2.css')}}">


</head>

<body>
    <form method="post">

        <h1>Which attribute in the Game do you want to Insert?</h1>

        <fieldset>

            <!-- <div class="input-field">
                <label>ID</label> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp
                <input type="text" placeholder="Insert" required>
            </div> -->

            <div class="input-field">
                <label>Name</label> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
                <input id="name" name="name" type="text" placeholder="Insert" required>
            </div>

            <div class="input-field">
                <label>Rating</label> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp
                <select name= 'rating'>
                    {% for rating in [1,2,3,4,5,6,7,8,9,10] %}
                    <option value= "{{rating}}" SELECTED>{{rating}}</option>
                    {% endfor %}
                </select>

            </div>


            <div class="input-field">
                <label>Genre Name</label> &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
                <select name='genres'>
                    {% for genre in genres %}
                    <option value= "{{genre}}" SELECTED>{{genre.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <a href="{{ url_for('render_insert_genre') }}">
                    <button type="button" style="position: relative;left: 180px;width: 120px;">Add</button>
                </a>
            </div>

            <div class="input-field">
                <label>Server Name</label> &nbsp&nbsp&nbsp&nbsp &nbsp
                <select name= 'servers'>
                    {% for server in servers %}
                    <option value= "{{server}}" SELECTED>{{server.name + " " + server.region}}</option>
                    {% endfor %}
                </select>
                <a href="{{ url_for('render_insert_server') }}">
                    <button type="button" style="position: relative;left: 180px;width: 120px;">Add</button>
                </a>
            </div>

            <div>
                <a><button type="submit" style="position: relative;left: 80px;width: 220px; ">Insert Game</button></a>
            </div>
        </form>
            <form action="{{url_for('home_page') }}" method="get" >
                <button type="submit" style="position: relative;left: 740px;width: 120px; margin-top:20px;"> Back </button>
            </form>


        </fieldset>
    
</body>