<head>

    <title>Insert Player</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='insertplayer.css')}}">


</head>

<body>
    <form method="post">

        <h1>Which attribute in the player do you want to Insert?</h1>

        <fieldset>

            <div class="input-field">
                <label>Username</label> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
                <input type="text" name="username" placeholder="Insert" required>
            </div>

            <div class="input-field">
                <label>Cart Balance</label> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <input type="text" name="cart_balance" placeholder="Insert" required>
            </div>

            <div class="input-field">
                <label>Year Of Registration</label> &nbsp
                <input type="text" name="year_of_registration" placeholder="Insert" required>
            </div>

            <div class="input-field">
                <label>Nationality</label> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <input type="text" name="nationality" placeholder="Insert" required>
            </div>

            <div class="input-field">
                <label>E-mail</label> &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <input type="text" name="email" placeholder="Insert" required>
            </div>

            <div class="input-field">
                <label>Community Name</label> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <input type="text" name="community_name" placeholder="Insert" required style="position: right;">
            </div>

            <div class="input-field">
                <label>Server Name</label> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <input type="text" name="server_name" placeholder="Insert" required>
            </div>

            <div class="input-field">
                <label>Server Region</label> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <input type="text" name="server_region" placeholder="Insert" required>
            </div>

            <div>
                <a><button>Insert Tuple</button></a>
            </div>



    </form>
</body>