<html>
    <head>
        <title>Developer Phase</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='page2.css')}}">
    </head>
    <body>
        <head>
            <title>HTML Tables</title>
        </head>
            <fieldset>
                <body>
                    <table border="3">
                        <tr>

                                <ul>
                                    <form action="{{url_for('render_my_games') }}" method="get" >
                                    <button type="submit" style="position:relative; left: 60px;width: 200px;"> My Games </button>
                                    </form>

                                    </ul>
                                    <ul>
                                
                                  
                                    <form action="{{url_for('render_my_publishers') }}" method="get" >
                                    <button type="submit" style="position:relative; left: 80px;width: 200px;"> Followed Publishers </button>
                                    </form>
                                    </ul>
                              <ul>
                                    <form action="{{url_for('render_my_communities') }}" method="get" >
                                    <button type="submit" style="position:relative; left: 110px;width: 200px;"> My Communities </button>
                                    </form>
                           
                                </ul>
                            
                            <td>Games
                                <li>
                                    <form action="{{url_for('render_retrieve_games') }}" method="get" >
                                        <button type="submit"> Retrieve All</button>
                                    </form>
                                   
                                </li>
                                
                                <li>
                                    <form action="{{url_for('render_update_game') }}" method="get">
                                    <button type="submit"> Update </button>
                                </form>
                                </li>
                            
                                <li>
                                    <form action="{{url_for('render_insert_game') }}" method="get">
                                    <button type="submit"> Insert </button>
                                    </form>
                                </li>
                                <li>
                                    <form action="{{url_for('render_play_game') }}" method="get">
                                    <button type="submit"> Play </button>
                                    </form>
                                </li>
                            </td>
                            <td>Communities
                                <li>
                                    <form action="{{url_for('render_retrieve_communities') }}" method="get">
                                    <button type="submit"> Retrieve All</button>
                                    </form>
                                </li>
                                <li>
                                    <form action="{{url_for('render_insert_community') }}" method="get">
                                    <button type="submit"> Insert </button>
                                    </form>
                                </li>
                                <li>
                                    <form action="{{url_for('render_follow_community') }}" method="get">
                                    <button type="submit"> Follow </button>
                                    </form>
                                </li>
                            </td>
                        </tr>
                        <tr>
                            <td>Publishers
                                <li>
                                    
                                    <form action="{{url_for('render_retrieve_publishers') }}" method="get">
                                        <button type="submit"> Retrieve All </button>
                                        </form>
                                </li>
                                <li>
                                    <form action="{{url_for('render_update_publisher') }}" method="get">
                                    <button type="submit"> Update </button>
                                </form>
                                </li>
                                <li>

                                    <form action="{{url_for('render_insert_publisher') }}" method="get">
                                    <button type="submit"> Insert </button>
                                    </form>
                                </li>
                                <li>
                                    <form action="{{url_for('render_follow_publisher') }}" method="get">
                                    <button type="submit"> Follow </button>
                                    </form>
                                </li>
                            </td>
                            <td>Servers

                                <li>
                                    <form action="{{url_for('render_retrieve_servers') }}" method="get">
                                        <button type="submit"> Retrieve All </button>
                                        </form>
                                </li>
                                <li>
                                    <form action="{{ url_for('render_insert_server') }}" method="get">
                                    <button type="submit"> Insert </button>
                                </form>
                                </li>
                                <li>
                                    <form action="{{url_for('render_connect_server') }}" method="get">
                                    <button type="submit"> Connect </button>
                                    </form>
                                </li>
                            </td>
                        </tr>
                    </table>
                </body>
            </fieldset>
            <form action="{{url_for('render_sign_in')}} "method='get'><button type="submit"> Sign Out </button></form>
    </body>
</html>
