<html>
    <head>
        <title>Developer Phase</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='page2.css')}}">
    </head>
    <body>
        <head>
            <title>HTML Tables</title>
        </head>
        <form>
            <fieldset>
                <body>
                    <table border="3">
                        <tr>
                            <td>Games
                                <li>
                                    <button> Retrieve </button>
                                </li>
                                <li>
                                    <button> Update </button>
                                </li>
                                <li>
                                    <button> Insert </button>
                                </li>
                            </td>
                            <td>Players
                                <li>
                                    <button> Retrieve </button>
                                </li>
                                <li>
                                    <button> Update </button>
                                </li>
                                <li>
                                    <button> Insert </button>
                                </li>
                            </td>
                        </tr>
                        <tr>
                            <td>Publishers
                                <li>
                                    <button> Retrieve </button>
                                </li>
                                <li>
                                    <button> Update </button>
                                </li>
                                <li>

                                    <button> Insert </button>
                                </li>
                            </td>
                            <td>Servers

                                <li>
                                    <button> Retrieve </button>
                                </li>
                                <li>
                                    <button> Update </button>
                                </li>
                                <li>

                                    <button> Insert </button>
                                </li>
                            </td>
                        </tr>
                    </table>
                </body>
            </fieldset>
        </form>
    </body>
</html>
