<head>

    <title>Update Publisher</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='GameUpdate.css')}}">


</head>

<body>
    <table>
        <tr>
            <form method="post" style="float:top;">
                    <fieldset>

                        <div class="input-field">
                            <label>Publishers</label> &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
                            <select name= publishers>
                                {% for publisher in publishers %}
                                <option value= "{{publisher}}" SELECTED>{{publisher.name}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="input-field">
                            <label>Rating</label> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp
                            <select name= rating>
                                {% for rating in [1,2,3,4,5,6,7,8,9,10] %}
                                <option value= "{{rating}}" SELECTED>{{rating}}</option>
                                {% endfor %}
                            </select>
            
                        </div>

                        <div class="input-field">
                            <label>Location</label> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            <input type="text" name="location" placeholder="Insert" required>
                        </div>

                        <div class="input-field">
                            <label>Year Of Establishment</label>
                            <input type="date" name="est_year" placeholder="Insert" required>
                        </div>

                        <div>
                            <a><button>Update Tuple</button></a>
                        </div>

                        </div>

                    </fieldset>


                </td>
            </form>
        </tr>
</body>