<head>

    <title>Update Publisher</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='retrieve.css')}}">
</head>

<style>
   
    table, th, td {
      border:5px solid rgb(255, 251, 251);
    }

    </style>
    <body>
    
    
    <table style="width:100%">
      <tr  style="height:100px" >
        <th> Data</th>
      </tr>
      

      {% for publisher in publishers %}
      <tr style="height: 100px;" > <td>{{publisher.name}}    
          </td>
        </tr>
      {% endfor %}

      
    </table>


    
  
    <form action="{{url_for('home_page') }}" method="get" >
        <button type="submit" style="position: relative;left: 600px;width: 120px; margin-top:20px;"> Back </button>
    </form>

</body>