<head>

    <title>Update Publisher</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='InsertGame.css')}}">


</head>

<body>
    <table>
        <tr>
            
                <fieldset>
                    <form method="post" style="float:top;">





                    </form>
                    <form action="{{url_for('home_page') }}" method="get" >
                        <button type="submit"> Back </button>
                    </form>
                </fieldset>


                </td>
        </tr>

</body>