<head>

    <title>Sign Up Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sign_up.css')}}">


</head>

<body>



    <form method="post">
        <h2>Sign Up For Cloud Gaming Account</h2>
        <p>

            <input id="email" name="email" type="email" placeholder="Email">
        </p>
        <p>

            <input id="user_name" name="user_name" type="text" placeholder="Username">
        </p>
        <p>

            <input id="password" name="password" type="password" placeholder="Password">
            <span>Enter a password longer than 8 characters</span>
        </p>
        <p>

            <input id="confirm_password" name="confirm_password" type="password" placeholder="Confirm Password">
            <span>Your passwords do must match</span>
        </p>
        <p>

            <input id="nationality" name="nationality" type="text" placeholder="Nationality">
        </p>
        <p>

            <a href="page2.html"><button><b>Create my account</b></button></a>

        </p>

    </form>