<head>

    <title>Sign Up Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sign_up.css')}}">


</head>

<body>



    <form method="post">
        <h2>Sign Up For Cloud Gaming Account</h2>
        <p>
            <label for="email" class="floatLabel">Email</label>
            <input id="email" name="email" type="email">
        </p>
        <p>
            <label for="user_name" class="floatLabel">Username</label>
            <input id="user_name" name="user_name" type="text">
        </p>
        <p>
            <label for="password" class="floatLabel">Password</label>
            <input id="password" name="password" type="password">
            <span>Enter a password longer than 8 characters</span>
        </p>
        <p>
            <label for="confirm_password" class="floatLabel">Confirm Password</label>
            <input id="confirm_password" name="confirm_password" type="password">
            <span>Your passwords do must match</span>
        </p>
        <p>
            <label for="nationality" class="floatLabel">Nationality</label>
            <input id="nationality" name="nationality" type="text">
        </p>
        <p>

            <a href="page2.html"><button><b>Create my account</b></button></a>

        </p>

    </form>